.postlist-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.post-new {
  width: 100%;
  text-align: center;
}