.post-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.post-vote-widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 15px 0px 5px;
}

.post-vote {
  text-align: center;
  padding: 15px;
  border: thin dotted red;
  margin: 0px 3px 0px 3px;
}

.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-timestamp {
  width: 50%;
  margin: 0px;
  text-align: right;
}

.post-author {
  width: 50%;
  margin: 0px;
  text-align: left;
}