html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.43;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

.container {
  font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}